<h3>Users Browsing Stocks</h3>
<li *ngFor="let u of users; let i = index">
  Id: {{u.id}} Username: {{u.username}}

  </li>

<h3>Misspelled Something? Update your information down below!</h3>

  <form (ngSubmit)="updateUser(UserOne)">
    <input type="number" name="id" placeholder="id" [(ngModel)]="UserOne.id">
    <input type="text" name="username" placeholder="Username" required="" [(ngModel)]="UserOne.username">
    <input type="password" name="description" placeholder="Password" required="" [(ngModel)]="UserOne.password">
    <input type="password" name="pswd" placeholder="Confirm Password" required="">
    <button type="submit">Update Credentials</button>
</form>