<nav>
    <ul>
      <li><a routerLink="/user">Log-In</a></li>
      <li><a routerLink="/stocks">Today's Top Stocks</a></li>
      <li><a routerLink="/faves">Favorites</a></li>
      <li><a routerLink="/yesterday">Yesterday's Top Stocks</a></li>
      <li><a routerLink="/lastweek">Last Week's Top Stocks</a></li>
      <li><a routerLink="/stock-chart">Stock Chart</a></li>
    </ul>
  </nav>
  
<img src="https://i.pinimg.com/originals/5e/55/e6/5e55e60e4f179f86b2158c656e9c055b.jpg" width="200" > 

  <router-outlet></router-outlet>
  