.container {
  background: linear-gradient(to bottom, gray, silver, white);
    margin: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .table-container {
    overflow-y: scroll;
    height: 400px;
    grid-column: 1 / 2;
  }
  
  .chart-container {
    grid-column: 2 / 3;
  }
  
  body{
    /* margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, gray, silver, white);
  }

  .btn-primary{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: black;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  button:hover{
    background: orange;
  }