<body>
    <div class="stock-details">
        <h2>Favorite's Details</h2>
        <p><strong>Stock:</strong> {{eD?.ticker}}</p>
        <p><strong>Overall Sentiment:</strong> {{eD?.sentiment}}</p>
        <p><strong>Members Discussing {{eD?.ticker}}:</strong> {{eD?.no_of_comments}}</p>
        <p><strong>Sentiment Score:</strong> {{eD?.sentiment_score}}</p>
    </div>

<div class="hottest-stocks">
    <h3>Your Favorite's List</h3>
    <ul>
      <li *ngFor="let f of faves; let i = index">
        <span class="stock-number">{{i + 1 }}&nbsp;</span>
        <span class="ticker">{{f.ticker}}</span>
        <button (click)="deleteFave(f)">Delete Favorites</button> 
        <button (click)="showDetails(i)">Show Details</button>
      </li>
    </ul>
  </div>
</body>