<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				
                <form (ngSubmit)="onSubmit()">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="username" placeholder="Username" required="" [(ngModel)]="newUser.username">
					<input type="password" name="description" placeholder="Password" required="" [(ngModel)]="newUser.password">
					<input type="password" name="pswd" placeholder="Confirm Password" required="">
					<button type="submit">Sign Up</button>
				</form>
			</div>

			<div class="login">
				
                <form (ngSubmit)="onSubmit()">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="username" placeholder="Username" required=""[(ngModel)]="newUser.username">
					<input type="password" name="description" placeholder="Password" required=""[(ngModel)]="newUser.password">
					<button type="submit">Log in</button>
				</form>
			</div>
	</div>
</body>
</html>